.btntg {
      display: inline-block;
      padding: 8px 40px;
      margin-top: 4px;
      background-color: #5597ff;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s;
    }
#restangle {
    width: 364px;
    height: 80px;
    background: #4f4f4f;
    border-radius: 4px;
    margin-top: 2px;
}
a {
    color: white;
}
h1 {
    color: white;
}
h5 {
    margin-left: 152px;
    color: white;
}
    